node_modules
.git
.github
/tmp
/output
/coverage
playwright-report
test-results
blob-report
allure-results
allure-results-vitest
allure-report-playwright
allure-report-vitest
data
storage
.playwright-mcp
.env
.env.*
!.env.example
.idea
.DS_Store
*.log
